section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 18px;
  font-family: 'Kumbh Sans', Arial, Helvetica, sans-serif;
}

.card {
  background: #fcf8e8;
  width: 350px;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
}

.card-header {
  background-color: #ecb390;
  background-size: cover;
  height: 150px;
}

.card-body {
  padding: 0 20px 10px;
}

.card-footer {
  border-top: 1px solid #df7861;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 25px;
  margin-bottom: 20px;
}

.card-footer .item .value {
  font-size: 1rem;
  margin-bottom: 6px;
}

.card-footer .item .meta {
  font-size: 0.8rem;
  margin-top: 5px;
  margin-bottom: 6px;
  letter-spacing: 1px;
}

.img-holder {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 5px solid white;
  overflow: hidden;
  margin: -50px auto 30px auto;
}

.img-holder img {
  width: 100%;
  height: auto;
  display: block;
}

.img-holder img:hover {
  opacity: 50%;
}

/* TEXT ELEMENTS */
.name-age {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.age {
  margin-left: 5px;
}

.age,
.city,
.meta {
  font-size: 1.2rem;
  font-weight: 400;
  color: grey;
  opacity: 0.8;
}
